.basket {
    padding: 0 1rem 2rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 248, 244);
    color: #222;
}

.basket__box__1 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222;
}

.basket__info__1 {
    font-size: 0.75rem;
    text-align: center;
    margin: 1rem 3rem;
    margin-top: 80px;
    padding: .5rem 1rem;
    line-height: 1.2rem;
}

.basket__title {
font-size: 2rem;
letter-spacing: 0.2rem;
}

.basket__box__2 {
    width: fit-content;
    display: flex;
    justify-content: center;
}

.basket__cart1 {
    max-width: 735px ;
    min-width: 400px;
    background-color: white;
    padding: 0 1rem;
    height: fit-content;
    margin-right: 1rem;
    flex: 1 0;
}

.basket__cart2 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.basket__cart__title {
    font-size: 1.6rem;
}

.basket__cart__login1, .basket__cart__login2 {
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.3rem 0 ;

}

.basket__cart__login2 {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

.basket__payment {
    max-width: 400px;
}


.basket__payment__wrap {
    width: 400px ;
    background-color: white;
    padding: 1.2rem;
}

.basket__payment__discount__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.basket__payment__border {
    width: 100%;
    display:block;
    margin: 1rem 0;
    border-bottom: 1px solid rgb(163, 163, 163);
}

.basket__payment__discount1 {
    font-size: 0.8rem;
    color:rgb(99, 99, 99);
}

.basket__payment__discount2 {
    text-decoration: underline;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.basket__payment__discount3 {
    display: inline-block;
    font-size: 0.7rem;
    padding: 0.5rem 0;
    width: 60%;
    font-weight: 500;
}

.basket__payment__discount button {
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(43, 43, 43);
    color: rgb(63, 63, 63);
    font-size: 1rem;
    font-weight: 600;
    background-color: white ;
    cursor: pointer;
}


.basket__payment__amount {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 0.4rem 0;
}

.basket__payment__amount1, .basket__payment__amount2 {
   font-size: 1rem;
   font-weight: 600;
   
}

.basket__payment__btn {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    color: rgb(63, 63, 63);
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(213, 213, 213) ;
    cursor: not-allowed;
}

 .basket__payment__btn__active {
    cursor: pointer;
    color: white;
    background-color: #222;
}

.basket__payment__btn:active {
    transform: scale(1.05);
}

.basket__payment__description, .basket__payment__accept {
    display: inline-block;
    font-size: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
    font-weight: 500;
}

.basket__payment__smallprint1, .basket__payment__smallprint2 {
    color: rgb(105, 105, 105);
    font-size: 0.7rem;
    padding: 0.3rem 0;
    width: 100%;
    font-weight: 500;
}

.basket__shipment {
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.basket__shipment__text {
    margin-right: auto;
    padding-left: 1rem;
    font-size: 0.7rem;
    font-weight: 500;
}

@media (max-width: 900px) {
    .basket__box__2 {
        width: 100%;
        padding: 0 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: stretch;
    }

    .basket__cart1 {
        max-width: 100%;
        background-color: white;
        padding: 0;
        height: fit-content;
       display: flex;
       flex-direction: column;
       justify-content: center;
        margin-right: 0;
    }

    .basket__payment {
        max-width: 100%;
    }

    .basket__payment__wrap {
        width: 100%;
        background-color: white;
        padding: 2rem 1rem;
    }

    .basket__payment__smallprint2 br {
        display: none ;
    }
}







